.side-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}


ion-icon {
    font-size: 52px;
}

.mono {
    font-family: 'Space Mono', monospace;
}

.ionic {
    font-size: 24px;
}

#conatiner {
    text-align: center;
}


#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 20px;
    background-color: black;
    animation: blink .75s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }

    50% {
        background-color: black;
    }
}